/********************* IMPORTS *********************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/********************* VARIABLES *********************/

:root{
    --colorBG: #ffffff;
    --colorNav: #ffffad;
    --colorFooter: #ffffad;

    --colorAD: grey;

    --colorUtilityButton: #d6ffad;
    --colorButton: #d6ffad;
    --colorButtonHover: #b0ffad;
    --colorSidebarButton: #ffebad;
    --colorSidebarButtonHover: #FFE085;

    --colorBreadcrumb: #cad4ca;
    --colorBreadcrumbHover: #9fa79f;
    
    --colorInputField: #ffffff;
    --colorBoxShadow: #693b1627;
    --colorModalBox: #ffffff;
    --colorModalBG: #4629115b;
    
    --colorHeadings: #481620;
    --colorBodyTxt: #514344;
    --colorNavTxt: #481620;
    --colorFooterTxt: #481620;
    --colorButtonTxt: #481620;
    --colorInputFieldTxt: #cad4ca;
    
    --borderRadius: 20px;
    --borderProperties: 1px solid #42182027;

    --fontHeadings: 'Lato', sans-serif;
    --fontWeightHeadings: 900;
    --fontBodyText: 'Open Sans', sans-serif;
    --fontWeightBodyTxt: 100;
    --fontLinks: 'Lato', sans-serif;
    --fontWeightLinks: 300;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--fontBodyText);
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--colorBG);
    overflow-x: hidden;
}

main {
    margin-top: 1rem;
}

main #exp_attr, main #slogan, main #text_styles, main #color_palette, main #interactive_elm{
    margin: 0 2rem 2rem 2rem;
}

main > section {
    margin: 0 2rem 2rem 2rem;
}

a, li {
    text-decoration: none;
    font-family: var(--fontLinks);
    font-weight: var(--fontWeightLinks);
    color: var(--colorNavTxt);
}

.recipe_btn, .profile_btn {
    background-color: transparent;
    font-size: 1.4rem;
    font-family: var(--fontBodyText);
    padding: 0;
    margin: 0 2rem;
}

/********************* AD *********************/

.advertisement{
    background-color: var(--colorAD);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

/********************* NAVBAR AND FOOTER *********************/
.category-popup {
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    background-color: var(--colorModalBox);
    position: absolute;
    left: 37vw;
    top: 10vh;
    width: auto;
    padding: 1rem 2rem;
}

.account_utility img {
    width: 1rem;
    margin-right: .2rem;
}

/********************* NAVBAR AND FOOTER *********************/

nav div > a, footer a, .category-popup a {
    text-decoration: none;
    font-family: var(--fontLinks);
    font-weight: var(--fontWeightLinks);
    color: var(--colorNavTxt);
}

nav a:hover, footer a:hover {
    opacity: 0.6;
    transition: .8s;
}

.logo {
    width: 30vw;
}

.logo img {
    width: 100%;
}

.desktop_nav {
    display: none;
    background-color: var(--colorNav);
}

.dropdown_content {
    display: none;
}

.mobile_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorNav);
}

.search_btn:hover {
    background-color: var(--colorButtonHover);
}

.menu_items {
    z-index: 5;
    position: fixed;
    background-color: var(--colorNav);
    box-shadow: -3px 5px 10px var(--colorBoxShadow);
    border-radius: var(--borderRadius);
    width: 350px;
    padding: 2rem;
    right: -350px;
    transition: .5s;
    line-height: 3rem;
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.menu_items_position {
    right: 0;
}

.menu_items ul li{
    list-style-type: none;
    font-size: 1.2rem;
}

.menu_items ul li ul{
    margin-left: 1.5rem;
    color: var(--colorHeadings);
    opacity: 0.8;
}

.menu_items ul li a{
    text-decoration: none;
    color: var(--colorHeadings);
}

.menu_items ul li a:hover{
    opacity: 0.6;
}

footer {
    background-color: var(--colorFooter);
    color: var(--colorFooterTxt);
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "section1 section2"
    "copyright copyright";
    gap: 1.5rem;
    margin-top: 2rem;
}

.SoMe {
    grid-area: section1;
    align-self: center;
    justify-self: end;
    cursor: pointer;
}

.info_links {
    display: flex;
    flex-direction: column;
    grid-area: section2;
    font-size: 0.9rem;
}

.copyright {
    grid-area: copyright;
    text-align: center;
    font-size: 0.8rem;
}

/********************* TEXT RELATED *********************/

h1, h2, h3 {
    font-family: var(--fontHeadings);
    font-weight: var(--fontWeightHeadings);
    color: var(--colorHeadings);
    margin-bottom: .5rem;
}

h1 {
    font-size: clamp(2.1rem, 3vw, 2.5rem);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-family: var(--fontBodyText);
    font-weight: var(--fontWeightBodyTxt);
    color: var(--colorBodyTxt);
    margin-bottom: .5rem;
}


/********************* BUTTONS & INPUT *********************/

input {
    padding: .3rem 1rem;
    font-family: var(--fontBodyTxt);
    color: var(--colorBodyTxt);
    border-radius: var(--borderRadius);
    border: none;
    background-color: var(--colorInputField);
    width: 40vw;
}


::placeholder {
    color: var(--colorInputFieldTxt);
}

textarea {
    padding: .5rem;
    font-family: var(--fontBodyTxt);
    color: var(--colorBodyTxt);
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    background-color: var(--colorInputField);
    width: 70vw;
    height: 70px;
}

select {
    padding: .5rem;
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    width: 100%;
    font-family: var(--fontBodyText);
    color: var(--colorBodyTxt);
}

button {
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    padding: .5rem;
    transition: .8s;
    background-color: var(--colorButton);
    color: var(--colorButtonTxt);
    font-size: 1rem;
}

#main_recipes aside button{
    display: none;
    padding: 1rem 2rem;
    width: 140px;
    background-color: var(--colorSidebarButton);
    text-align: left;
    font-weight: 700;
}

#main_recipes aside button:hover{
    background-color: var(--colorSidebarButtonHover);
}

.btn_container {
    text-align: center;
    margin: 1rem 0;
}

.btn_container button {
    background-color: transparent;
    font-size: 1.2rem;
}

.btn_container button:hover, .recipe_btn:hover, .profile_btn:hover {
    opacity: 0.6;
}

/********************* HOMEPAGE *********************/

.not_displayed {
    display: none;
}

img {
    width: 100%;
}

.info {
    text-align: justify;
    margin: 0 1rem;
}

.popular_recipes, .plat_du_tour {
    display: flex;
    overflow-x: auto;
}

.popular_recipes::-webkit-scrollbar, .plat_du_tour::-webkit-scrollbar{
    width: 0;
}

.recipe, .daily_recipe {
    margin-right: 1rem;
    min-width: 70vw;
}

.recipe img, .daily_recipe img{
    border-radius: var(--borderRadius);
}

.recipe_info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.recipe_info p {
    font-size: 0.8rem;
}

.recipe_info i{
    color: var(--colorButtonTxt);
}

.popular_recipes button{
    width: 10vw;
}

/********************* LOGIN *********************/
.login {
    margin:3rem auto;
    max-width:30rem
}

.login-header {
    color:var(--colorHeadings);
    text-align:center;
    padding-bottom: 1rem;
}

.login-header h1 {
    text-shadow: 0px 5px 15px var(--colorSidebarButtonHover); 
}

.login-form {
    border-radius:1rem;
    box-shadow: 0rem 0rem 2rem var(--colorBoxShadow);
    box-sizing:border-box;
    padding-top:6rem;
    padding-bottom:2rem;
    text-align:center;
    height: 30rem;
}

.login input[type="text"],
.login input[type="password"] {
    max-width:25rem;
    width: 80%;
    line-height:3rem;
    margin:1rem 2rem;
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    outline:none;
    padding-left:10px;
}

.login-form input[type="button"] {
    margin-top: 3rem;
    height: 3rem;
    width: 8rem;
    background: var(--colorButton);
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    color: var(--colorBodyTxt);
    text-transform: uppercase;
    font-family: var(--fontBodyText);
    cursor:pointer;
}

.login-form input [type="button"]:hover {
    background: var(--colorButtonHover);
}

/********************* SIGNUP *********************/

.signup {
    margin:3rem auto;
    max-width:30rem
}
.signup-header {
    color:var(--colorHeadings);
    text-align:center;
    padding-bottom: 1rem;
}
.signup-header h1 {
    text-shadow: 0px 5px 15px var(--colorSidebarButtonHover); 
}
.signup-form {
    border-radius:1rem;
    box-shadow:0rem 0rem 2rem var(--colorBoxShadow);
    box-sizing:border-box;
    padding-top:4rem;
    padding-bottom:2rem;
    text-align:center;
    height: 30rem;
}

.signup input[type="text"],
.signup input[type="password"] {
    max-width:25rem;
    width: 80%;
    line-height:3rem;
    margin:1rem 2rem;
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    outline:none;
    padding-left:10px;
}

.signup-form input[type="button"] {
    margin-top:3rem;
    height:3rem;
    width:8rem;
    background:var(--colorButton);
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    color: var(--colorBodyTxt);
    text-transform:uppercase;
    font-family: var(--fontBodyText);
    cursor:pointer;
}

.signup-form input [type="button"]:hover {
    background: var(--colorButtonHover);
}



/********************* RECIPE PAGE *********************/

.infos {
    display: flex;
    margin: 2.5rem 1rem 1rem 1rem;
    text-align: center;
    justify-content: center;
}

.infos div {
    margin: .05rem 1rem .05rem 1rem;
    padding: .05rem;
}

.img-burger {
    border-radius: var(--borderRadius);
    overflow: hidden;
}

.stars {
    text-align: center;
}

.stars i {
    margin: 0.3rem
}

.info-minutes {
    border: var(--borderProperties);
    border-bottom: none;
    border-top: none;
}

.number {
    font-size: 2.5rem;
    color: var(--colorBodyTxt);
    font-family: var(--fontHeadings);
    font-weight: 400;

}

.number-m {
    font-size: 2.5rem;
    color: var(--colorBodyTxt);
    font-family: var(--fontHeadings);
    font-weight: 400;
    padding: 0 1.5rem 0 1.5rem;
}


.descrip {
    font-size: 0.8rem;
}

.descrip-m {
    font-size: 0.8rem;
}

.recipe-description {
    display: flex;
    justify-content: space-between;

}

.directions {
    margin-top: 1rem;
    justify-content: space-between;
}

.directions ul, .directions ol{
    padding: 0 2rem 2rem 2rem;
}

.directions ul li{
    list-style-type: circle;
    font-family: var(--colorBodyTxt);
    font-weight: var(--fontWeightBodyTxt);
    color: var(--colorBodyTxt);
}

.directions ol li{
    padding-bottom: 1rem;
    font-family: var(--colorBodyTxt);
    font-weight: var(--fontWeightBodyTxt);
    color: var(--colorBodyTxt);
}

.comments_rating div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments_rating .comment, .comments_rating .rating {
    display: flex;

}
.comments_rating .comment i, .comments_rating .rating i{
    margin: 0 .5rem .5rem 0;
    font-size: 1.2rem;
}

.comments_rating textarea {
    width: 100%;
}

.comments_rating .rating_input {
    margin-bottom: 1rem;
}

.written_comment {
    border: var(--borderProperties);
    margin: 1rem 0;
    padding: 1rem;
}
.written_comment h3{
    margin: 0;
}

.written_comment p{
    margin-top: .5rem;
}

.written_comment div p {
    font-weight: 600;
    opacity: 0.3;
}

.comments_rating fieldset {
    border: none;
    margin: .5rem 0;
}

.comments_rating fieldset input{
    width: auto;
}

.comments_rating fieldset label{
    margin-right: 1rem;
}

.comments_rating fieldset legend{
    font-size: 0.8rem;
}

.advertise {
    border: var(--borderProperties);
    background-color: var(--colorAD);
}


/********************* COUNTER *********************/

.counter {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.counter span {
    margin-left: 8px;
    padding-top: 4px;
}

.inc-dec {
    width: 4rem;
    border-radius: none;
}

.counting {
    margin: 2px;
    padding-top: 1rem;
}

#counting {
    padding: 4px 6px 0 6px;
}

.measurement {
    text-align: center;
    padding-bottom: 30px;
    margin: 2rem auto;
}

.measure-input-output {
    width: 15%;
    border: var(--borderProperties);
}

/********************* PROFILE PAGE *********************/

#user_profile .user_info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#user_profile .user_info .user_pfp {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

#user_profile .user_info h1 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin: 0;
}

#user_profile .user_info .user_name {
    opacity: 0.6;
}

#user_profile .user_info p {
    font-size: clamp(0.8rem, 3vw, 1rem);
}

#user_profile .owned_recipes, #user_profile .saved_recipes {
    border: var(--borderProperties);
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#user_profile .owned_recipes .recipe, #user_profile .saved_recipes .recipe {
    margin: 1.5rem 0;
}

#user_profile .owned_recipes .recipe img, #user_profile .saved_recipes .recipe img {
    object-fit: cover;
}

/********************* CREATE RECIPE PAGE *********************/

#create_recipe_page hr {
    border: var(--borderProperties);
    margin: 1rem 2rem;
    opacity: 0.5;
}

#create_recipe_page {
    margin: 1rem;
}

#create_recipe_page input {
    border: var(--borderProperties);
    padding: .5rem;
}

#create_recipe_page legend{
    font-family: var(--fontHeadings);
    font-weight: var(--fontWeightHeadings);
    color: var(--colorHeadings);
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    margin-bottom: .7rem;
}

#create_recipe_page fieldset{
    border: none;
}

#create_recipe_page .img_preview {
    display: block;
    color: var(--colorBodyTxt);
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    padding-top: calc(300px / 2 - 1rem);
    text-align: center;
    width: 100%;
    height: 300px;
}

#create_recipe_page div {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#create_recipe_page .recipe_ingredients_input div{
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 .5rem 0;
    width: 100%;
}

#create_recipe_page .recipe_ingredients_input div input{
    width: 100%;
}

#create_recipe_page .btn_container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#create_recipe_page .btn_container button{
    align-self: center;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0;
}

/********************* EDIT RECIPE PAGE *********************/

#edit_recipe_page hr {
    border: var(--borderProperties);
    margin: 1rem 2rem;
    opacity: 0.5;
}

#edit_recipe_page {
    margin: 1rem;
}

#edit_recipe_page input {
    border: var(--borderProperties);
    padding: .5rem;
}

#edit_recipe_page legend{
    font-family: var(--fontHeadings);
    font-weight: var(--fontWeightHeadings);
    color: var(--colorHeadings);
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    margin-bottom: .7rem;
}

#edit_recipe_page fieldset{
    border: none;
}

#edit_recipe_page .img_preview img{
    object-fit: cover;
    display: block;
    color: var(--colorBodyTxt);
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    text-align: center;
    width: 100%;
    height: 300px;
}

#edit_recipe_page div {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#edit_recipe_page .recipe_ingredients_input div{
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 .5rem 0;
    width: 100%;
}

#edit_recipe_page .recipe_ingredients_input div input{
    width: 100%;
}

#edit_recipe_page .btn_container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#edit_recipe_page .btn_container button{
    align-self: center;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0;
}


/********************* EDIT PROFILE *********************/

#edit_user_profile .user_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#edit_user_profile .user_info div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#edit_user_profile .user_info div:nth-child(2){
    align-items: flex-start;
}

#edit_user_profile .user_info .user_pfp {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

#edit_user_profile .user_info label{
    margin-top: 1rem;
    font-size: 1.1rem;
}
#edit_user_profile .user_info input{
    border: var(--borderProperties);
    width: 100%;
    font-size: 1.2rem;
}

#edit_user_profile .user_info textarea{
    border: var(--borderProperties);
    width: 100%;
    height: 200px;
    font-size: 1rem;
}

/********************* REPORT RECIPE MODAL  *********************/
.report_modal {
    position: absolute;
    width: 70vw;
    top: 50%;
    left: 15vw;
    background-color: var(--colorBG);
    padding: 1rem 2rem;
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    max-width: 330px;
}

.report_reason {
    margin-top: 1rem;
}

.report_reason {
    cursor: pointer;
    padding: 0.2rem 0 0rem 0.75rem;
    border-radius: var(--borderRadius);
}

.report_reason:last-child {
    margin-bottom: 2rem;
}

.report_button_report {
    margin-right: 1rem;
}

.report_button_report_disabled {
    background-color: var(--colorAD);
    cursor: not-allowed;
}

.report_button_report_enabled {
    background-color: var(--colorButton);
    cursor: pointer;
}

.selected {
    background-color: var(--colorButton);
}

.disable_scroll {
    max-height: 100vh;
    overflow: hidden;
}

.enable_scroll {
    max-height: none;
    overflow: scroll;
}

@media only screen and (min-width: 480px){
    .report_modal {
        max-width: 330px;
        left: 27.5%;
    }
}

@media only screen and (min-width: 800px){
    .report_modal {
        left: 35%;
    }
}
/********************* DELETE PROFILE MODAL *********************/

#delete_modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.modal_bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorModalBG);
    opacity: 0.5;
}

.modal_box{
    z-index: 12;
    position: relative;
    top: 150px;
    margin: 0 1rem;
    padding: 2.5rem;
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    background-color: var(--colorModalBox);
}

.modal_box div {
    text-align: center;
    margin-top: 1rem;
}



/********************* MEDIA QUERIES *********************/

@media only screen and (min-width: 1000px){ 

    .desktop_nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
    }

    .desktop_nav a i {
        margin: 0 0.3rem;
    }

    .dropdown_content {
        position: absolute;
        font-family: var(--fontLinks);
        font-weight: var(--fontWeightLinks);
        background-color: var(--colorNav);
        color: var(--colorNavTxt);
        padding: 1.7rem;
        list-style-type: none;
        line-height: 1.8rem;
        transition: .8s;
        border-radius: var(--borderRadius);
        box-shadow: var(--colorBoxShadow);
    }

    .desktop_nav div:nth-child(2):hover .dropdown_content{
        display: block;
    }

    .desktop_nav .account_utility:hover .dropdown_content{
        display: block;
    }

    .logo {
        width: 15vw;
    }

    .logo img {
        width: 100%;
    }

    .mobile_nav {
        display: none;
    }

    .account_utility > a {
        margin: 0 0.3rem;
        padding: 0.3rem 1rem;
        border-radius: var(--borderRadius);
        background-color: var(--colorUtilityButton);
    }

    .account_utility > a:hover {
        background-color: var(--colorButtonHover);
        transition: 1s;
    }

    .searchBar {
        width: 20vw;
        display: flex;
        gap: 0.3rem;
    }

    footer {
        justify-content: space-evenly;
        padding-top: 5rem;
        gap: 2rem;
    }

    .SoMe {
        font-size: 1.1rem;
    }

    .SoMe i {
        margin: 0 0.2rem;
    }

    main {
        max-width: 1400px;
        margin: 0 auto;
    }


    main > section {
        margin: 2rem;
    }

    .category-popup {
        left: 58vw;
        top: 10vh;
        width: 15vw;
    }
    /********************* HOMEPAGE *********************/

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin-bottom: 5rem;
    }

    #about .info {
        padding: 2rem;
    }

    #main_recipes {
        display: grid;
        column-gap: 2rem;
        grid-template-areas: 
        "aside popular popular ad"
        "aside daily daily ad";
    }

    #main_recipes .sidebar_buttons {
        grid-area: aside;
        margin: 0 1rem;
    }

    #main_recipes .popular_recipes_container {
        margin-bottom: 2rem;
        padding-left: 2rem;
        grid-area: popular;
    }

    #main_recipes .plat_du_tour_container {
        margin-bottom: 2rem;
        padding-left: 2rem;
        grid-area: daily;
    }

    #main_recipes .advertisement, #user_profile .advertisement {
        grid-area: ad;
        width: 200px;
        height: 600px;
        align-self: center;
        margin: 0 1rem;
    }

    #main_recipes aside button{
        display: block;
        margin: 1.5rem auto;
    }

    .popular_recipes, .plat_du_tour {
        overflow-x: unset;
    }

    .recipe, .daily_recipe {
        min-width: 15vw;
        width: 15vw;
        margin-right: 2rem;
    }

    .name {
        margin: 0 .5rem;
    }

    .recipe_info {
        margin: 0 .5rem;
        justify-content: space-between;
    }

  /********************* PROFILE PAGE *********************/

    #user_profile .recipe_btn {
        margin: 0 1rem;
    }

    #user_profile .user_info {
        gap: 3rem;
    }

    #user_profile .user_info .bio {
        width: 30vw;
    }
    
    #user_profile .owned_recipes, #user_profile .saved_recipes {
        padding: 1rem;
        margin: 1.5rem 1rem 0 1rem;
    }

    #user_profile .owned_recipes h2, #user_profile .saved_recipes h2 {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        padding: 0 .5rem;
    }
    
    #user_profile .recipes {
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "uploaded saved ad"
        "uploaded saved ad";
    }

    #user_profile .owned_recipes {
        grid-area: uploaded;
    }

    #user_profile .saved_recipes {
        grid-area: saved;
    }

    #user_profile .owned_recipes > div, #user_profile .saved_recipes > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #user_profile .owned_recipes .recipe, #user_profile .saved_recipes .recipe {
        margin: 1rem .8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 .5rem;
    }

    /********************* CREATE RECIPE PAGE *********************/

    #create_recipe_page {
        margin: 1rem auto;
        width: 80vw;
    }

    #create_recipe_page .img_preview {
        grid-area: image;
        height: auto;
    }

    #create_recipe_page .recipe_info_input {
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "image info"
        "image prep";
    }

    #create_recipe_page .recipe_info_input fieldset:nth-child(1){
        grid-area: info;
    }
    #create_recipe_page .recipe_info_input fieldset:nth-child(2){
        grid-area: prep;
    }

    #create_recipe_page .recipe_content_input {
        display: flex;
        gap: 5rem;
    }
    #create_recipe_page .recipe_content_input fieldset{
        flex: 0 1 400px;
    }

    #create_recipe_page .recipe_directions_input div textarea {
        width: 100%;
    }

    #create_recipe_page .recipe_directions_input div {
        margin: 0 0 1rem 0;
    }

    #create_recipe_page .btn_container {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #create_recipe_page .btn_container button{
        align-self: center;
        font-size: 1.5rem;
        background-color: transparent;
        padding: 0;
    }

    /********************* EDIT RECIPE PAGE *********************/

    #edit_recipe_page {
        margin: 1rem auto;
        width: 80vw;
    }

    #edit_recipe_page .img_preview {
        grid-area: image;
        height: auto;
    }

    #edit_recipe_page .recipe_info_input {
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        "image info"
        "image prep";
    }

    #edit_recipe_page .recipe_info_input fieldset:nth-child(1){
        grid-area: info;
    }
    #edit_recipe_page .recipe_info_input fieldset:nth-child(2){
        grid-area: prep;
    }

    #edit_recipe_page .recipe_content_input {
        display: flex;
        gap: 5rem;
    }
    #edit_recipe_page .recipe_content_input fieldset{
        flex: 0 1 400px;
    }

    #edit_recipe_page .recipe_directions_input div textarea {
        width: 100%;
    }

    #edit_recipe_page .recipe_directions_input div {
        margin: 0 0 1rem 0;
    }

    #edit_recipe_page .btn_container {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #edit_recipe_page .btn_container button{
        align-self: center;
        font-size: 1.5rem;
        background-color: transparent;
        padding: 0;
    }

    /********************* DELETE PROFILE MODAL *********************/


    .modal_box{
        width: 40vw;
        margin: 0 auto;
        padding: 2.5rem 5rem;
    }

    /********************* RECIPE PAGE *********************/
    .recipe-details {
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem 1rem 3rem 1rem;
        justify-content: space-between;
    }

    .img-burger {
        width: 25rem;
        height: 25rem;
    }

    .directions {
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
    }

    .comments_rating {
        width: 40vw;
        margin: 0 auto;
    }

    .btn_container {
        display: flex;
        flex-direction: column;
    }

}