/********************* IMPORTS *********************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/********************* VARIABLES *********************/

:root{
    --colorBG: #ffffff;
    --colorNav: #ffffad;
    --colorFooter: #ffffad;

    --colorAD: grey;

    --colorUtilityButton: #d6ffad;
    --colorButton: #d6ffad;
    --colorButtonHover: #b0ffad;
    --colorSidebarButton: #ffebad;
    --colorSidebarButtonHover: #FFE085;

    --colorBreadcrumb: #cad4ca;
    --colorBreadcrumbHover: #9fa79f;
    
    --colorInputField: #ffffff;
    --colorBoxShadow: #693b1627;
    
    --colorHeadings: #481620;
    --colorBodyTxt: #514344;
    --colorNavTxt: #481620;
    --colorFooterTxt: #481620;
    --colorButtonTxt: #481620;
    --colorInputFieldTxt: #cad4ca;
    
    --borderRadius: 20px;
    --borderProperties: 1px solid #42182027;

    --fontHeadings: 'Lato', sans-serif;
    --fontWeightHeadings: 900;
    --fontBodyText: 'Open Sans', sans-serif;
    --fontWeightBodyTxt: 100;
    --fontLinks: 'Lato', sans-serif;
    --fontWeightLinks: 300;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--fontBodyText);
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--colorBG);
    overflow-x: hidden;

}

main {
    margin-top: 1rem;
}

main #exp_attr, main #slogan, main #text_styles, main #color_palette, main #interactive_elm{
    margin: 0 2rem 2rem 2rem;
}

main > section {
    margin: 0 2rem 2rem 2rem;
}

a, li {
    text-decoration: none;
    font-family: var(--fontLinks);
    font-weight: var(--fontWeightLinks);
    color: var(--colorNavTxt);
}

.recipe_btn, .profile_btn {
    background-color: transparent;
    font-size: 1.4rem;
    font-family: var(--fontBodyText);
    padding: 0;
    margin: 0 2rem;
}

/********************* AD *********************/

.advertisement{
    background-color: var(--colorAD);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}


/********************* NAVBAR AND FOOTER *********************/

nav div > a, footer a {
    text-decoration: none;
    font-family: var(--fontLinks);
    font-weight: var(--fontWeightLinks);
    color: var(--colorNavTxt);
}

nav a:hover, footer a:hover {
    opacity: 0.6;
    transition: .8s;
}

.logo {
    width: 30vw;
}

.logo img {
    width: 100%;
}

.desktop_nav {
    display: none;
    background-color: var(--colorNav);
}

.dropdown_content {
    display: none;
}

.mobile_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--colorNav);
}

.search_btn:hover {
    background-color: var(--colorButtonHover);
}

.menu_items {
    z-index: 200;
    position: fixed;
    background-color: var(--colorNav);
    box-shadow: -3px 5px 10px var(--colorBoxShadow);
    border-radius: var(--borderRadius);
    width: 350px;
    padding: 2rem;
    right: -350px;
    transition: .5s;
    line-height: 3rem;
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.menu_items_position {
    right: 0;
}

.menu_items ul li{
    list-style-type: none;
    font-size: 1.2rem;
}

.menu_items ul li ul{
    margin-left: 1.5rem;
    color: var(--colorHeadings);
    opacity: 0.8;
}

.menu_items ul li a{
    text-decoration: none;
    color: var(--colorHeadings);
}

.menu_items ul li a:hover{
    opacity: 0.6;
}

footer {
    background-color: var(--colorFooter);
    color: var(--colorFooterTxt);
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "section1 section2"
    "copyright copyright";
    gap: 1.5rem;
    margin-top: 2rem;
}

.SoMe {
    grid-area: section1;
    align-self: center;
    justify-self: end;
    cursor: pointer;
}

.info_links {
    display: flex;
    flex-direction: column;
    grid-area: section2;
    font-size: 0.9rem;
}

.copyright {
    grid-area: copyright;
    text-align: center;
    font-size: 0.8rem;
}

/********************* TEXT RELATED *********************/

h1, h2, h3 {
    font-family: var(--fontHeadings);
    font-weight: var(--fontWeightHeadings);
    color: var(--colorHeadings);
    margin-bottom: .5rem;
}

h1 {
    font-size: clamp(2.1rem, 3vw, 2.5rem);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-family: var(--fontBodyText);
    font-weight: var(--fontWeightBodyTxt);
    color: var(--colorBodyTxt);
    margin-bottom: .5rem;
}


/********************* BUTTONS & INPUT *********************/

input {
    padding: .3rem 1rem;
    font-family: var(--fontBodyTxt);
    color: var(--colorBodyTxt);
    border-radius: var(--borderRadius);
    border: none;
    background-color: var(--colorInputField);
    width: 40vw;
}

::placeholder {
    color: var(--colorInputFieldTxt);
}

textarea {
    padding: .5rem;
    font-family: var(--fontBodyTxt);
    color: var(--colorBodyTxt);
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    background-color: var(--colorInputField);
    width: 70vw;
    height: 70px;
}

select {
    padding: .5rem;
    border-radius: var(--borderRadius);
    border: var(--borderProperties);
    width: 100%;
    font-family: var(--fontBodyText);
    color: var(--colorBodyTxt);
}

button {
    border: none;
    border-radius: var(--borderRadius);
    cursor: pointer;
    padding: .5rem;
    transition: .8s;
    background-color: var(--colorButton);
    color: var(--colorButtonTxt);
    font-size: 1rem;
}

#main_recipes aside button{
    display: none;
    padding: 1rem 2rem;
    width: 140px;
    background-color: var(--colorSidebarButton);
    text-align: left;
    font-weight: 700;
}

#main_recipes aside button:hover{
    background-color: var(--colorSidebarButtonHover);
}

/********************* HOMEPAGE *********************/

.not_displayed {
    display: none;
}

img {
    width: 100%;
}

.info {
    text-align: justify;
    margin: 0 1rem;
}

.popular_recipes, .plat_du_tour {
    display: flex;
    overflow-x: auto;
}

.popular_recipes::-webkit-scrollbar, .plat_du_tour::-webkit-scrollbar{
    width: 0;
}

.recipe, .daily_recipe {
    margin-right: 1rem;
    min-width: 70vw;
}

.recipe img, .daily_recipe img{
    border-radius: var(--borderRadius);
}

.recipe_info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.recipe_info p {
    font-size: 0.8rem;
}

.recipe_info i{
    color: var(--colorButtonTxt);
}

.popular_recipes button{
    width: 10vw;
}

/********************* PROFILE PAGE *********************/

#user_profile .user_info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#user_profile .user_info .user_pfp {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

#user_profile .user_info h1 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin: 0;
}

#user_profile .user_info .user_name {
    opacity: 0.6;
}

#user_profile .user_info p {
    font-size: clamp(0.8rem, 3vw, 1rem);
}

#user_profile .owned_recipes, #user_profile .saved_recipes {
    border: var(--borderProperties);
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#user_profile .owned_recipes .recipe, #user_profile .saved_recipes .recipe {
    margin: 1.5rem 0;
}

#user_profile .owned_recipes .recipe img, #user_profile .saved_recipes .recipe img {
    object-fit: cover;
}

#user_profile h3 {
    font-size: clamp(.8rem, 2vw, 1.3rem);
}

/********************* CREATE RECIPE PAGE *********************/

#create_recipe_page hr {
    border: var(--borderProperties);
    margin: 1rem 2rem;
    opacity: 0.5;
}

#create_recipe_page {
    margin: 1rem;
}

#create_recipe_page input {
    border: var(--borderProperties);
    padding: .5rem;
}

#create_recipe_page legend{
    font-family: var(--fontHeadings);
    font-weight: var(--fontWeightHeadings);
    color: var(--colorHeadings);
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    margin-bottom: .7rem;
}

#create_recipe_page fieldset{
    border: none;
}

#create_recipe_page .img_preview {
    display: block;
    color: var(--colorBodyTxt);
    border: var(--borderProperties);
    border-radius: var(--borderRadius);
    padding-top: calc(300px / 2 - 1rem);
    text-align: center;
    width: 100%;
    height: 300px;
}

#create_recipe_page div {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#create_recipe_page .recipe_ingredients_input div{
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 .5rem 0;
    width: 100%;
}

#create_recipe_page .recipe_ingredients_input div input{
    width: 100%;
}

#create_recipe_page .btn_container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#create_recipe_page .btn_container button{
    align-self: center;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0;
}


/********************* EDIT PROFILE *********************/

#edit_user_profile .user_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#edit_user_profile .user_info div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#edit_user_profile .user_info div:nth-child(2){
    align-items: flex-start;
}

#edit_user_profile .user_info .user_pfp {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

#edit_user_profile .user_info label{
    margin-top: 1rem;
    font-size: 1.1rem;
}
#edit_user_profile .user_info input{
    border: var(--borderProperties);
    width: 100%;
    font-size: 1.2rem;
}

#edit_user_profile .user_info textarea{
    border: var(--borderProperties);
    width: 100%;
    height: 200px;
    font-size: 1rem;
}



/********************* MEDIA QUERIES *********************/

@media only screen and (min-width: 1000px){

    .desktop_nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
    }

    .desktop_nav a i {
        margin: 0 0.3rem;
    }

    .dropdown_content {
        position: absolute;
        font-family: var(--fontLinks);
        font-weight: var(--fontWeightLinks);
        background-color: var(--colorNav);
        color: var(--colorNavTxt);
        padding: 1.7rem;
        list-style-type: none;
        line-height: 1.8rem;
        transition: .8s;
        border-radius: var(--borderRadius);
        box-shadow: var(--colorBoxShadow);
    }

    .desktop_nav div:nth-child(2):hover .dropdown_content{
        display: block;
    }

    .desktop_nav .account_utility:hover .dropdown_content{
        display: block;
    }

    .logo {
        width: 15vw;
    }

    .logo img {
        width: 100%;
    }

    .mobile_nav {
        display: none;
    }

    .account_utility > a {
        margin: 0 0.3rem;
        padding: 0.3rem 1rem;
        border-radius: var(--borderRadius);
        background-color: var(--colorUtilityButton);
    }

    .account_utility > a:hover {
        background-color: var(--colorButtonHover);
        transition: 1s;
    }

    .searchBar {
        width: 20vw;
        display: flex;
        gap: 0.3rem;
    }

    footer {
        justify-content: space-evenly;
        padding-top: 5rem;
        gap: 2rem;
    }

    .SoMe {
        font-size: 1.1rem;
    }

    .SoMe i {
        margin: 0 0.2rem;
    }

    main {
        max-width: 1400px;
        margin: 0 auto;
    }


    main > section {
        margin: 2rem;
    }

    /********************* HOMEPAGE *********************/

    #about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin-bottom: 5rem
        /* grid-area: about; */
    }

    #about .info {
        padding: 2rem;
    }

    #main_recipes {
        display: grid;
        column-gap: 2rem;
        grid-template-areas: 
        "aside popular popular ad"
        "aside daily daily ad";
    }

    #main_recipes .sidebar_buttons {
        grid-area: aside;
        margin: 0 1rem;
    }

    #main_recipes .popular_recipes_container {
        margin-bottom: 2rem;
        padding-left: 2rem;
        grid-area: popular;
    }

    #main_recipes .plat_du_tour_container {
        margin-bottom: 2rem;
        padding-left: 2rem;
        grid-area: daily;
    }

    #main_recipes .advertisement, #user_profile .advertisement {
        grid-area: ad;
        width: 200px;
        height: 600px;
        align-self: center;
        margin: 0 1rem;
    }

    #main_recipes aside button{
        display: block;
        margin: 1.5rem auto;
    }

    .popular_recipes, .plat_du_tour {
        overflow-x: unset;
    }

    .recipe, .daily_recipe {
        min-width: 15vw;
        width: 15vw;
        margin-right: 2rem;
    }

    .name {
        margin: 0 .5rem;
    }

    .recipe_info {
        margin: 0 .5rem;
        justify-content: space-between;
    }

    /********************* PROFILE PAGE *********************/

    #user_profile .recipe_btn {
        margin: 0 1rem;
    }

    #user_profile .user_info {
        gap: 3rem;
    }

    #user_profile .user_info .bio {
        width: 30vw;
    }
    
    #user_profile .owned_recipes, #user_profile .saved_recipes {
        padding: 1rem;
        margin: 1.5rem 1rem 0 1rem;
    }

    #user_profile .owned_recipes h2, #user_profile .saved_recipes h2 {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        padding: 0 .5rem;
    }
    
    #user_profile .recipes {
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "uploaded saved ad"
        "uploaded saved ad";
    }

    #user_profile .owned_recipes {
        grid-area: uploaded;
    }

    #user_profile .saved_recipes {
        grid-area: saved;
    }

    #user_profile .owned_recipes > div, #user_profile .saved_recipes > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #user_profile .owned_recipes .recipe, #user_profile .saved_recipes .recipe {
        margin: 1rem .8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 .5rem;
    }

/********************* CREATE RECIPE PAGE *********************/

#create_recipe_page {
    margin: 1rem auto;
    width: 80vw;
}

#create_recipe_page .img_preview {
    grid-area: image;
    height: auto;
}

#create_recipe_page .recipe_info_input {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "image info"
    "image prep";
}

#create_recipe_page .recipe_info_input fieldset:nth-child(1){
    grid-area: info;
}
#create_recipe_page .recipe_info_input fieldset:nth-child(2){
    grid-area: prep;
}

#create_recipe_page .recipe_content_input {
    display: flex;
    gap: 5rem;
}
#create_recipe_page .recipe_content_input fieldset{
    flex: 0 1 400px;
}

#create_recipe_page .recipe_directions_input div textarea {
    width: 100%;
}

#create_recipe_page .recipe_directions_input div {
    margin: 0 0 1rem 0;
}

#create_recipe_page .btn_container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#create_recipe_page .btn_container button{
    align-self: center;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0;
}





}


@media only screen and (min-width: 1250px){

}
